# Rates Calculations

In [14]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import datetime

In [15]:
# pip install openpyxl matplotlib plotly

## Data Ingestion (Reading in the data)

In [18]:
main_path = os.getcwd()
input_data_path = os.path.join(main_path, "input_data")
rate_file_name = "Rates.xlsx"
rate_file_data_path = os.path.join(input_data_path, rate_file_name)

In [21]:
rate_data = (
    pd
    .read_excel(rate_file_data_path, header=1)
    .drop(rate_data.index[0])
    .rename(columns={'Unnamed: 0': 'Date'})
)

NameError: name 'rate_data' is not defined

In [13]:
rate_data.shape

NameError: name 'rate_data' is not defined

In [44]:
rate_data.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 1 to 571
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    570 non-null    object
 1   GBPEUR  570 non-null    object
 2   GBPUSD  570 non-null    object
 3   GBPCHF  570 non-null    object
 4   GBPAUD  570 non-null    object
 5   GBPJPY  570 non-null    object
 6   GBPCAD  570 non-null    object
 7   GBPSEK  570 non-null    object
 8   GBPNZD  570 non-null    object
 9   GBPNOK  570 non-null    object
 10  GBPPLN  570 non-null    object
dtypes: object(11)
memory usage: 49.2+ KB

In [ ]:
rate_data.head()

In [45]:
# Convert 'Date' column to datatime
rate_data['Date'] = pd.to_datetime(rate_data['Date'])

# Convert all other columns to numeric, handling errors
# Exclude the date column from this operation
for col in rate_data.columns.drop('Date'):
    # 'errors= 'coerce' converts invalid parsing to NaN
    rate_data[col] = pd.to_numeric(rate_data[col], errors='coerce')

In [ ]:
now = datetime.datetime.today()
now.strftime("%Y-%m-%d")

In [ ]:
strftime(now)

In [ ]:
min_date = "2023-12-25"
max_date = now.strftime("%Y-%m-%d")

In [ ]:
rate_data[(rate_data["Date"] >= min_date) & (rate_data["Date"] <= max_date)]

In [46]:
rate_data.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 1 to 571
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    570 non-null    datetime64[ns]
 1   GBPEUR  570 non-null    float64
 2   GBPUSD  570 non-null    float64
 3   GBPCHF  570 non-null    float64
 4   GBPAUD  570 non-null    float64
 5   GBPJPY  570 non-null    float64
 6   GBPCAD  570 non-null    float64
 7   GBPSEK  570 non-null    float64
 8   GBPNZD  570 non-null    float64
 9   GBPNOK  570 non-null    float64
 10  GBPPLN  570 non-null    float64
dtypes: datetime64[ns](1), float64(10)
memory usage: 49.2 KB

## Some Calculations

1. Generate from the last working day in 2023 till date.
    - Chart 1 to cover -> GBPEUR	GBPUSD	GBPCHF	GBPAUD	GBPJPY	
    - Chart 2 to cover -> GBPCAD	GBPSEK	GBPNZD	GBPNOK	GBPPLN

In [5]:
def charter(df, min_date, max_date, column_names):
    """
        :df - actual data
    :min_date - Minimum date
    :max_date - Maximum date
    :column_names - [column1, column2, ...]
    """
    
    df_plot = df[df["Date"] >= min_date & df["Date"] <= max_date]
    df_plot = df_plot[column_names].reset_index(drop=True)
    
    # Plotting
fig = px.line(
    dt_plot,
    x='Date',
    y=df_data.columns[1:],
    title='Time Series Data',
    labels={'value': 'Value', 'variable': 'Series'}

)

# Show plot
fig.show()
    
    
    return df_plot

In [ ]:
selected_columns_one = [
    "GBPEUR"
    "GBPUSD"
    "GBPCHF"
    "GBPAUD"
    "GBPJPY"
    
]

In [6]:
set(selected_columns_one)

NameError: name 'selected_columns_one' is not defined

In [7]:
data_part_one = charter(df=rate_data, min_date="2023-12-29", max_date="2024-02-29", column_names=selected_columns_one)

NameError: name 'rate_data' is not defined

In [8]:
data_part_one.head()

NameError: name 'data_part_one' is not defined

In [ ]:
selected_columns_two = [
    "Date",
    "GBPCAD",
    "GBPSEK",
    "GBPNZD",
    "GBPNOK",
    "GBPPLN"
]

In [ ]:
data_part_one = charter(
    df=rate_data,
    min_date="2023-12-29",
    max_date="2024-02-29",
    column_names=selected_columns_two
)